<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create Item</title>
</head>
<body>
    <a href="/dashboard">Home</a> <a href="/logout">Logout</a>
    <p>Create a New Wish List item</p>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <form action="/createitem" method="post">
        {% csrf_token %}
        <p>Name <input type="text" name="item"></p>
        <input type="submit" value="Add">
    </form>
</body>
</html>